.navBar{
  position: fixed;
  height: 4vh;
  width: 100%;
  background-color: darkgray;
}
.navBar button{
  background-color: transparent;
  border-color: black;
}
.backbutton{
  position: relative;
  margin: 1vh;
}
#editUseCaseNavbarSideBarManageButton{
  position: relative;
  left: 13vw;
  margin: 1vh;
}

